<h1>Offers</h1>



<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <% @offers.each do |offer| %>
      <ul>
        <li><%= offer.title %>, description: <%= offer.price %>, description: <%= offer.price %></li>
      </ul>
    <% end %>
  </div>
<div class="card">
