<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h1 class="pb-2 border-bottom">OFFERS</h1>
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <% @offers.each do |offer| %>
          <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                 style="background-image: url('https://festi.ca/wp-content/uploads/2021/07/Homepage-Slider-1-1-1536x1024.jpg');">
              <div class="d-flex flex-column justify-content-end pb-3 text-white text-shadow-1">
                <h3 class="p-5 lh-1 fw-bold"><%= offer.title %></h3>
                <ul class="d-flex list-unstyled p-2 justify-content-between">
                  <li>
                    <small><%= offer.address %></small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small><%= offer.price %>$/day</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <h1>MAP CONTAINER</h1>
      <img src="https://cdn-cmdnf.nitrocdn.com/rIbSxuwuPAXwZSWprHLoMZwMQUyOlAnq/assets/images/optimized/rev-e1e38df/www.unitekemt.com/wp-content/uploads/2022/03/shutterstock_1607600596-1030x543.jpg" class="rounded-4 float-left" alt="Map image" width="500" height="600">
    </div>
  </div>
</div>
