.banner-offer {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.banner-offer > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.banner-offer h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
}

.banner-offer .banner-offer-infos {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
