.container {
  margin-top: 100px;
  margin-bottom: 100px;
  color: $text;

}

.feedback-form {
  align-items: center;
  width: 400px;
  background-color: $background;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px $primary;
  border-radius: 15px;
  font-family: sans-serif;
}

.feedback-form * {
  color: $text;
    box-sizing: border-box;
}

.feedback-form h2{
  text-align: center;
  margin-bottom: 30px;
}

#offer_description{
  color: $text;
}

.feedback-form input:not([type="submit"]) {
  color: $text;
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  margin-bottom: 15px;
  background-color: #f3f3f3;
}

.feedback-form label {
  color: $text;
  font-size: 0.8em;
}

.feedback-form .btn {
  display: block;
  margin: 20px auto 0;
  width: 180px;
  height: 40px;
  border-radius: 25px;
  border: none;
  font-weight: 700;
  box-shadow: 1px 4px 10px 0.5px #aaa;
}
